{% extends "base.html" %}
{% block body %}
<div class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-body fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"><img src="/images/logo.png" alt="logo" height="24" width="24">
            Body Measurement Tracker
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: end;">
            <a href="https://auth.jmkassman.com" class="navbar-text mb-auto me-1" title="Account settings">
                {{ email }}
            </a>
            <a href="/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>
</div>

<div class="btn-group mb-3" style="margin-top: 5rem;" role="group" hx-swap="innerHTML swap:.2s" hx-target="#body"
    hx-indicator="#indicator">
    <button class="btn btn-outline-dark" hx-get="/new_measurement">New
        Measurement</button>
    <button class="btn btn-outline-dark" hx-get="/table">View Table</button>
    <button class="btn btn-outline-dark" hx-get="/edit">Edit Measurements</button>
    <button class="btn btn-outline-dark" hx-get="/graph">View Graph</button>
</div>

<div class="m-3"><img id="indicator" class="htmx-indicator" src="/images/oval.svg"></div>

<div id="body" class="fade-in"></div>
{% endblock %}