<div class="btn-group mb-3" role="group" hx-swap="innerHTML swap:0.2s" hx-target="#graph"
    hx-indicator="#graph-indicator">
    <button class="btn btn-outline-primary" hx-get="/graph/weight">
        Weight
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/fat_perc">
        Fat %
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/muscle_perc">
        Muscle %
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/water_perc">
        Water %
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/bmi">
        BMI
    </button>
</div>
<div class="btn-group mb-3" role="group" hx-swap="innerHTML swap:0.2s" hx-target="#graph"
    hx-indicator="#graph-indicator">
    <button class="btn btn-outline-primary" hx-get="/graph/weight/forecast">
        Weight Forecast
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/fat_perc/forecast">
        Fat % Forecast
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/muscle_perc/forecast">
        Muscle % Forecast
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/water_perc/forecast">
        Water % Forecast
    </button>
    <button class="btn btn-outline-primary" hx-get="/graph/bmi/forecast">
        BMI Forecast
    </button>
</div>

<div class="m-3"><img id="graph-indicator" class="htmx-indicator" src="/images/oval.svg"></div>

<div id="graph" class="fade-in"></div>