<form hx-post="/measurement" hx-ext="custom-json-enc" class="fade-in">
    <label for="timestamp" class="form-label">Timestamp (defaults to current time):</label><br>
    <input type="datetime-local" class="form-control" id="timestamp" name="timestamp"><br>
    <label for="weight" class="form-label">Weight:</label><br>
    <input type="number" class="form-control" id="weight" name="weight" required min="0" step="0.1"><br>
    <label for="bmi" class="form-label">BMI:</label><br>
    <input type="number" class="form-control" id="bmi" name="bmi" min="0" step="0.1"><br>
    <label for="fat_perc" class="form-label">Fat %:</label><br>
    <input type="number" class="form-control" id="fat_perc" name="fat_perc" min="0" step="0.1"><br>
    <label for="water_perc" class="form-label">Water %:</label><br>
    <input type="number" class="form-control" id="water_perc" name="water_perc" min="0" step="0.1"><br>
    <label for="muscle_perc" class="form-label">Muscle %:</label><br>
    <input type="number" class="form-control" id="muscle_perc" name="muscle_perc" min="0" step="0.1"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>