<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Weight</th>
            <th scope="col">Fat %</th>
            <th scope="col">Muscle %</th>
            <th scope="col">Water %</th>
            <th scope="col">BMI</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurements %}
        <tr>
            <td>{{ measurement.timestamp }}</td>
            <td>{{ measurement.weight }}</td>
            <td>{{ measurement.fat_perc }}</td>
            <td>{{ measurement.muscle_perc }}</td>
            <td>{{ measurement.water_perc }}</td>
            <td>{{ measurement.bmi }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>